*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4d04e;
}

.card-link {
  text-decoration: none;
}

.card-link:hover .title {
  color: #f4d04e;
}

.card-link:focus-visible {
  outline: 2px solid #111111;
  outline-offset: 4px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 327px;
  padding: 24px;
  background-color: #ffffff;
  border: solid 1px #111111;
  border-radius: 20px;
  box-shadow: 8px 8px 0 #000000;
}

.blog-image {
  border-radius: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.category {
  width: fit-content;
  padding: 4px 12px;
  background-color: #f4d04e;
  border-radius: 4px;
}

.category p {
  font-size: 12px;
  font-weight: 800;
  line-height: 150%;
  color: #111111;
}

.publish-date {
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
  color: #111111;
}

.title {
  font-size: 20px;
  font-weight: 800;
  line-height: 150%;
  color: #111111;
  transition: color 0.3s ease;
}

.description {
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  color: #6b6b6b;
}

.author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.userpic {
  width: 32px;
  height: 32px;
}

.authorname {
  font-size: 14px;
  font-weight: 800;
  line-height: 150%;
  color: #111111;
}

.attribution {
  padding: 12px;
  font-size: 12px;
  background-color: #f4d04e;
  color: #6b6b6b;
}

@media only screen and (min-width: 600px) {
  .card {
    max-width: 384px;
  }

  .category p,
  .publish-date {
    font-size: 14px;
  }

  .title {
    font-size: 24px;
  }

  .description {
    font-size: 16px;
  }
}
